@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;

}

button, a {
  cursor: none; /* Disable the hand pointer on buttons and links */
}





/* ---------------------------------------
   Custom Cursor Styles in the Utilities Layer
   ---------------------------------------- */
   @layer utilities {
    .cursor-dot {
      @apply w-[5px] h-[5px] bg-purple-900 fixed top-0 left-0 
             -translate-x-1/2 -translate-y-1/2 
             rounded-full z-[9999] pointer-events-none;
    }
  
    .cursor-outline {
      @apply w-[30px] h-[30px] border-[3.5px] border-solid border-purple-900
             fixed top-0 left-0
             -translate-x-1/2 -translate-y-1/2
             rounded-full z-[9999] pointer-events-none;
    }
  
    .cursor-pointer {
      .cursor-dot,
      .cursor-outline {
        border-radius: 0 !important;
      }
    }
  
    .cursor-text {
      .cursor-dot,
      .cursor-outline {
        width: 1px !important;
        height: 30px !important;
        background-color: purple;
      }
    }
  }
